
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your resolution</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial scale=1.0">

    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter:400,700|Nothing+You+Could+Do'
    media='screen'rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/normal.css"/>
   -->

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <style>
  body{color: white;}
  </style>
</head>
<body>
          <div class="row hoz-spacing" id="your-resolution">
          <% @users.each do |user| %>
    <div class="span12">
      <div class="face-group hoz-spacing">
          <div class="face fl"><%= link_to image_tag(user.pic_url), user_url(user.id) %>
      <div class="name"><%= user.name %></div>
    </div>
  </div>
</div>
</div>


<% end %>


</body>
