<h1>Welcome to GoalsWithFriends!</h1>

<%@users.each do |user| %>
<%=image_tag user.pic_url%></br>
<%user.goals.index do|index|%></br>
    <%if index == 0%>
    <%=goals.inspect%>
    <%end%>
    <%end%>
<%end%>
