/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #spacing {
  margin-left: 20px;
 }
.previous-goals, .create-goal {
  margin-top: 100px;
  color: #8EEC6A;
}
#welcome {
  color: #8EEC6A;
}
.previous-goals {
  margin-bottom: 50px;
}
#goal_name {
  margin-bottom: 50px;
}
#goal_description {
  width: 500px;
  height: 100px;
  margin-bottom: 50px;
}
.wrapper {
  margin-left: 200px;
  margin-top: 50px;
}
.status {
  margin-bottom: 100px;
}
.email {
  margin-bottom: 20px;
}

 #user_nav, nav {
  margin-left:  50px;
 }
 nav {
  margin-top: 10px;
 }
#your-resolution{
  margin-top:100px;
  color:white;

}
#resolution-group{margin:20px 0;}
.resolution-detail{margin-top:40px;font-size:18px;line-height: 26px}
.resolution-detail-modal{margin:0 0 30px 30px;font-size:14px;line-height: 20px}

.divider{border-bottom:1px solid #7cd6f2;margin-top:20px;}
.face{margin: 0 30px 50px 0;}

img{border-radius:50%;position:relative;}


.face img{width:200px;height:200px; }
.face-sm img{width:150px;height:150px;margin:30px 20px 10px 20px;}


.fl{float:left;}
.fr{float:right;}


.hoz-spacing{margin:50px 0;}
.bottom{margin-bottom:10px;}
.name{font-size:15px;text-align: center;margin-top:15px;}
#login{padding-left:70px;margin-bottom:200px;}
.sample{font-size:20px;}
.resolution-dash{
  border-radius:4px;
  border:1px solid #7cd6f2;
  height:250px;

}

.status{
  margin-top:50px;
  border-radius:10px;

  height:30px;
  background-color:#ebba28;

}
